@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap'
);
:root{
    --primary-clr: #fcfbfb;
    --secondary-clr: #242446;
    --accent-clr: #e73755;
    --accent-clr-2: #3d3d58;
    --txt-clr: #2c2c38;
    --txt-clr-2: #ffffff;
    --txt-clr-3: #4d4a4a;
    --font: "Tuffy", sans-serif;
    --font-2: "Poppins", sans-serif;
    --font-3: "Roboto", sans-serif;;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--primary-clr);
    color: var(--txt-clr);
    font-family: var(--font);
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    font-family: var(--font-2);
}
nav .logo img{
    width: 10rem;
}
.navBtns{
    display: flex;
    align-items: center;
    column-gap: 20rem;
}
.navLinks{
    display: flex;
    list-style: none;
    column-gap: 3rem;
}
.navLinks li a{
    text-decoration: none;
    color: var(--txt-clr);
    padding: 1rem 0;
    font-weight: 400;
}
.navLinks li a:hover{
    border-bottom: 1px solid var(--accent-clr);
}
.navBtns button{
    padding: 1rem 2rem;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: 700;
    background: var(--accent-clr);
    color: var(--txt-clr-2);
    border: none;
    border-radius: 0.3rem;
}
@media (width >=1440px){

}
@media (width <=768px) and (orientation:landscape){}

@media (width >=834px){}
@media (width <=1024px) and (orientation:landscape){}