@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap'
);
:root{
    --primary-clr: #fcfbfb;
    --secondary-clr: #242446;
    --accent-clr: #e73755;
    --accent-clr-2: #3d3d58;
    --txt-clr: #2c2c38;
    --txt-clr-2: #ffffff;
    --txt-clr-3: #4d4a4a;
    --font: "Tuffy", sans-serif;
    --font-2: "Poppins", sans-serif;
    --font-3: "Roboto", sans-serif;;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--primary-clr);
    color: var(--txt-clr);
    font-family: var(--font);
}
nav{
    width: 100%;
    padding: 1rem;
    font-family: var(--font-2);
    position: relative;
}
nav .logo img{
    width: 11rem;
    margin-left: 0.5rem;
}
.navBtns{
    display: none;
    margin-top: 2rem;
    z-index: 1;
    background: var(--primary-clr);
}
.navLinks{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    list-style: none;
}
.navLinks li a{
    text-decoration: none;
    color: var(--txt-clr);
    padding: 1rem 0;
    font-weight: 400;
}
.navBtns button{
    display: none;
    padding: 1.2rem 2rem;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: 700;
    background: var(--accent-clr);
    color: var(--txt-clr-2);
    border: none;
    border-radius: 0.3rem;
}
#navToggleCheckbox{
    display: none;
}
.navToggle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    text-align: center;
    position: absolute;
    right: 1rem;
    top: 0.9rem;
    color: var(--accent-clr);
    border: 2px solid var(--accent-clr);
    font-weight: 600;
}
.closeNav{
    display: none;
}
#navToggleCheckbox:checked ~.navBtns{
    display: block;
    width: 100%;
}
#navToggleCheckbox:checked ~.navToggle .openNav{
    display: none;
}
#navToggleCheckbox:checked ~.navToggle .closeNav{
    display: block;
}
@media (width >=1440px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        padding-left: 7rem;
        padding-right: 8rem;
    }
    nav .logo img{
        margin-left: 0rem;
    }
    .navBtns{
        display: flex;
        align-items: center;
        column-gap: 17rem;
        margin-top: 0;
    }
    .navLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: ;
        column-gap: 3rem;
        margin-top: 0;
    }
    .navLinks li a:hover{
        border-bottom: 1px solid var(--accent-clr);
    }
    .navBtns button{
        display: block;
    }
    .navToggle{
        display: none;
    }
}
@media (width <=768px) and (orientation:landscape){
    nav{
        padding: 1.5rem;
    }
    .navToggle{
        right: 2rem;
        top: 1.5rem;
    }
    
}

@media (width >=1024px) and (orientation:landscape){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        padding-left: 7rem;
        padding-right: 8rem;
    }
    nav .logo img{
        margin-left: 0rem;
    }
    .navBtns{
        display: flex;
        align-items: center;
        column-gap: 17rem;
        margin-top: 0;
    }
    .navLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: ;
        column-gap: 3rem;
        margin-top: 0;
    }
    .navLinks li a:hover{
        border-bottom: 1px solid var(--accent-clr);
    }
    .navBtns button{
        display: block;
    }
    .navToggle{
        display: none;
    }
}